@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    font-family: "Oswald";

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    nav {
        width: 25%;
        margin-left: 40rem;

        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
        }
    
        a {
            text-decoration: none;
            font-size: 1.25rem;
            color: #5B5B5B;
            font-weight: 500;
        }
    }

    button {
        background-color: #ffffff;
        color: #000000;
        border: solid;
        width: 8%;
        height: 8vh;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: "Oswald";
        cursor: pointer;
    }

    button:hover {
        background-color: #DCDCDC;
        transition: 0.3;
    }
}

.containerImagemDeFundo {
    background-image: url(./imagens/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 86vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: "Oswald";
    padding-left: 8rem;
    padding-bottom: 5rem;

    h1 {
        color: #ffffff;
        font-size: 5.8rem;
        font-weight: 700;
    }

    p {
        color: #ffffff;
        font-size: 2rem;
        font-weight: 300;
    }

    button {
        background-color: #0016DF;
        color: #FFFFFF;
        border: none;
        width: 12%;
        height: 5vh;
        font-size: 1.3rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 2rem;
        cursor: pointer;
        font-family: "Oswald";
    }

    button:hover {
        background-color: #87CEFA;
        color: #000000;
        transition: 0.3;
    }
}

.containerGestão {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: top;
    height: 90vh;

    article {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            color: #0017E9;
            font-family: "Oswald";
        }

        h1 {
            font-size: 2.25rem;
            font-weight: 800;
            color: #000000;
            font-family: "Roboto";
        }

        p {
            font-size: 1.5rem;
            font-weight: 400;
            color: #000000;
            font-family: "Roboto";
        }

        a {
            font-size: 1.5rem;
            font-weight: 400;
            color: #0017E9;
            font-family: "Roboto";
            text-decoration: none;
        }
    }

    img {
        width: 35vw;
        height: 75vh;
    }
}

.containerSolucoes {
    background-color: #D3D3D3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: "Oswald";
        color: #0017E9;
        font-size: 1.5rem;
        font-weight: 500;
    }

    h3 {
        font-family: "Oswald";
        color: #000000;
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 2rem;
        margin-bottom: 4rem;
    }

    section {
        display: flex;
        justify-content: space-evenly;

        article {
            background-color: #ffffff;
            width: 20%;
            height: 55vh;
            display: flex;
            flex-direction: column;
            text-align: start;
            box-shadow: 0px 0px 10px 0px #000000;

            img {
                width: 100%;
            }

            h1 {
                font-family: "Oswald";
                color: #000000;
                font-size: 1.5rem;
                font-weight: 500;
                margin: 1rem 0 0 1rem;
            }

            p {
                font-family: "Oswald";
                color: #000000;
                font-size: 1.5rem;
                font-weight: 200;
                width: 80%;
                margin: 1rem 0 0 1rem;
            }
        }
    }
}