@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    font-family: "Oswald";

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    nav {
        width: 25%;
        margin-left: 40rem;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }

    a {
        text-decoration: none;
        font-size: 1.25rem;
        color: #5B5B5B;
        font-weight: 500;
    }

    button {
        background-color: #ffffff;
        color: #000000;
        border: solid;
        width: 8%;
        height: 8vh;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: "Oswald";
        cursor: pointer;
    }

    button:hover {
        background-color: #DCDCDC;
        transition: 0.3;
    }
}

.containerImagemDeFundo {
    background-image: url(./imagens/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 86vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: "Oswald";
    padding-left: 8rem;
    padding-bottom: 5rem;

    h1 {
        color: #ffffff;
        font-size: 5.8rem;
        font-weight: 700;
    }

    p {
        color: #ffffff;
        font-size: 2rem;
        font-weight: 300;
    }

    button {
        background-color: #0016DF;
        color: #FFFFFF;
        border: none;
        width: 12%;
        height: 5vh;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 2rem;
        cursor: pointer;
    }

    button:hover {
        background-color: #87CEFA;
        color: #000000;
        transition: 0.3;
    }
}